# Node modules
node_modules/
api/
requirements.txt
image_processor.py
image_loader.py

models/my_model.h5
models/class_labels.json
# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Optional: cache files
.cache

# Build output (jika ada)
dist/
build/

# OS files (macOS, Windows)
.DS_Store
Thumbs.db
